$link-color: #434a54;
$link-color-hover: #4eb3e3;
$btn-hover: #2072f3;
$border-color: #1f343e;
$white: #fff;
$light-gray: #6d7a80;
$bg-footer-top: #45565e;
$bg-footer: #f8f4f9;
$bg: #f8cc5d;
$err: #ed6f82;
